.progress-bar {
    display: flex;
    justify-content: center;
    align-items: center;
  
    width: 100px;
    height: 100px;
    border-radius: 50%;
      
  }

  .btech{
    background: radial-gradient(closest-side, white 79%, transparent 80% 100%),conic-gradient(#ffa436 91%,   #fbcf98   0);  ;
  }
  .hse{
    background:radial-gradient(closest-side, white 79%, transparent 80% 100%),conic-gradient(#ffa436 93%,   #fbcf98   0);  
  }

  .progress-bar::before{
    content: "91%";
  }

  
#education-div span{
    font-size: 50px;
    font-weight: 500;

}
.wrapper-progress-text{
    display: flex;
    width: 40%;
    padding: 50px;
    align-items: center;
    justify-content: space-between;
}